@import "../../breakpoints.scss";

.card-wrapper {
  box-shadow: 0px 6px 15px 0px rgb(0 0 0 / 10%);
  margin: 8px 0px;
  width: 100%;
  box-sizing: border-box;
  @include breakpoint(mediumDevices) {
    width: 550px;
    margin: 8px;
  }
  .card-header {
    display: flex;
    height: 300px;
    position: relative;
    .header-content {
      background-color: #f5f5f5;
      @include breakpoint(mediumDevices) {
        flex: 1 1 50%;
      }
      .title-wrapper {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -0%);
        z-index: 2;
        background-color: #f5f5f5;
        width: 100%;
        @include breakpoint(mediumDevices) {
          top: 50%;
          left: 10%;
          transform: translate(-0%, -50%);
          background-color: transparent;
          width: auto;
        }
        .title {
          font: {
            size: 24px;
            weight: bold;
          }
          white-space: wrap;
          color: #ffffff;
          background-color: #ff0000;
          padding: 8px;
          @include breakpoint(mediumDevices) {
            min-width: 300px;
          }
        }
        .info {
          display: flex;
          padding: 8px;
          .yield {
            margin-left: 4px;
          }
          .modal-btn {
            margin-left: 8px;
            padding-bottom: 4px;
            border-bottom: 2px solid #ff0000;
            cursor: pointer;
          }
        }
      }
    }
    .image-wrapper {
      width: 100%;
      height: 100%;
      @include breakpoint(mediumDevices) {
        flex: 1 1 50%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .card-content {
    padding: 8px;
    .note {
      margin: 8px 0px;
      font-size: 13px;
    }
    .title {
      font: {
        size: 18px;
        weight: bold;
      }
      padding-bottom: 8px;
    }
    li {
      margin-bottom: 8px;
    }
    .btn-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @include breakpoint(mediumDevices) {
        justify-content: space-evenly;
        flex-direction: row;
      }
      .icon {
        padding: 4px;
        cursor: pointer;
      }
      .btn-wrapper {
        margin-bottom: 4px;
        @include breakpoint(mediumDevices) {
          margin-bottom: 0px;
        }
      }
    }
  }
}
