.btn {
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px 8px;
  &:focus {
    outline: none;
  }

  &-primary {
    background-color: #f5f5f5;
    &:hover {
      background-color: #a9a9a9;
    }
  }
  &-secondary {
    background-color: #f00;
    color: #ffffff;
    &:hover {
      background-color: #8b0000;
    }
  }
}
