@import "../../breakpoints.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .message {
    color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
  }
  .dialog-wrapper {
    padding: 8px;
    box-sizing: border-box;
    .title {
      font: {
        size: 24px;
        weight: bold;
      }
      margin-bottom: 8px;
    }
    ul {
      margin-top: 12px;
      overflow: scroll;
      height: 400px;
      li {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #c0c0c0;
        padding: 8px 0px;
      }
    }
  }
}
