.content {
  width: 100%;
  height: 100%;
  position: relative;
  input {
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #c0c0c0;
    &:focus {
      outline: none;
    }
  }
  .list-group {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 12px;
    background-color: #ffffff;
    z-index: 99;
    border: {
      top: none;
      left: 1px solid #c0c0c0;
      right: 1px solid #c0c0c0;
      bottom: 1px solid #c0c0c0;
    }
    &-item {
      cursor: pointer;
    }
  }
}
