<app-container>
  <div *ngIf="isEmpty(shoppingList$ | async); else elseBlock" class="message">
    <p>
      Shopping list is empty <br />
      Search recipes and select ingridients for shopping list
    </p>
  </div>
  <ng-template #elseBlock>
    <div class="list-content">
      <ul *ngFor="let recipe of uniqueRecipes">
        <p (click)="navigateToRecipe(recipe.url)" class="recipe-title">
          {{ recipe.label }}
        </p>
        <li
          *ngFor="
            let item of getArrRecipeTitle(recipe.label, shoppingList$ | async)
          "
        >
          <span>{{ item.ingredient }}</span>
          <div class="btn-wrapper">
            <app-button
              label="Delete"
              (onClick)="deleteItem(item.ingredient, recipe)"
            ></app-button>
          </div>
        </li>
      </ul>
    </div>
  </ng-template>
</app-container>
