.message {
  color: #808080;
  margin: 4px;
}
.list-content {
  height: 100%;
  width: 100%;
  .recipe-title {
    cursor: pointer;
    margin: 12px 0px;
    color: blue;
    text-decoration: underline;
    font: {
      size: 18px;
      weight: 800;
    }
  }
  ul {
    margin: 8px;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
      max-width: 600px;
      .btn-wrapper {
        width: 80px;
        margin-left: 4px;
      }
    }
  }
}
